[phases.setup]
aptPkgs = ["libgl1", "libglib2.0-0"]

[phases.install]
cmds = [
  "python -m venv --copies /opt/venv",
  ". /opt/venv/bin/activate && pip install -r requirements.txt --constraint constraints.txt"
]
